html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
}

#frame {
	width: 100%;
	margin: auto;
	padding: 30px 60px 80px 60px;
}

.otsikko {
	background-color: #333;
	width: 100%;
	color: #fff;
	padding: 10px 35px 20px 35px;
}

.sisalto {
	padding: 10px 35px 20px 35px;
	margin: 0px; 
}

.kaikki-kurssit, .optimoinnin-tulos {
	margin: 30px 0;
}

.yksi-kurssi div{
	display: inline-block;
	padding: 0 10px 10px 0;
	width: 75px;
}

.yksi-kurssi .nimi {
	width: 150px;
}

.yksi-kurssi input {
	max-width: 100%;
	padding: 0 5px 10px;
}

.yksi-kurssi > button{
	display: inline-block;
	width: 100px;
	margin-right: 10px;
}

.optimoinnin-tulos {
	display: none;
}

.esilla {
	display: block;
}