html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: "Arial", san-serif;
}

.yksi-kurssi > div{
	display: inline-block;
	padding: 0 5px 10px;
}

.yksi-kurssi > button{
	display: inline-block;
}